@import url("https://fonts.googleapis.com/css2?family=Engagement&display=swap");

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#text {
  font-family: "Engagement", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  margin-top: 25px;
  position: absolute;
  align-text: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
.center-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: white;
  font-size: 24px;
  padding: 20px 40px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.center-button:hover {
  background-color: #45a049;
}
